h1,h2,h3,h4,h5 {
  font-family: sans-serif;
}

svg {
  font: 11px sans-serif;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.median-line path, .median-line line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 2;
}

.mean-line path, .mean-line line {
  fill: none;
  stroke: #f88;
  shape-rendering: crispEdges;
}

.g-annotation {
  position: relative;  
  stroke: #555;
  shape-rendering: crispEdges;
}

.g-annotation-content {
  font: 12px sans-serif;
  color: #555;
  position: relative;
  border:1.5px solid;
  padding: 3px;
  fill: #fff;
  background-color: #fff;
}


.stackedBar-tooltip {
  position: absolute;  
  stroke: #555;
  shape-rendering: crispEdges;
  max-width: 150px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  pointer-events: none;
  display: none;  
}

.border-collapse {
  border-collapse: collapse;
}

.border-top {
  border-top: solid 1px #555;
}

.stackedBar-tooltip-content {
  font: 12px sans-serif;
  color: #555;
  position: relative;
  border:1.5px solid;
  padding: 3px;
  fill: #fff;
  background-color: #fff;
}

.stackedBar-tooltip-title {
  font-weight: bold;
  color: #000;
}

#tt-tcoe {
  font-weight: bold;
}